{% extends "base.html" %}

{% block content %}
    <div id="prod_detail_container">
        <h1>{{ product.name }}</h1>

        <div class="prod_info">
            <img src="{{ product.image.image.url }}" alt="">

            <p><strong>Price:</strong> {{ product.price }}</p>

            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart" class="purple_button">
            </form>
            <br>
            <form action="{% url "wish:wish_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Add to wishlist" class="purple_button">
            </form>

        </div>

    </div>


{% endblock %}