{% extends "base.html" %}

{% block content %}
    <h1>Your Cart</h1>
            <div class="form_container">
                <h3>Items in Cart</h3>
                <table class="payment_table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                </table>
            </div>
    <div>
        <input type="submit" value="Proceed to Checkout" class="purpleButton">
    </div>
    </a>
{% endblock content %}