@charset "UTF-8";

/****************************************************************************************************
* Base HTML Elements                                                                                *
****************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Establishes how the body will be displayed */
body {
    height: 100%;
    min-height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(to right bottom, #242424, #212121, #1f1f1f, #1c1c1c, #1a1a1a);
}

/* Establishes how the body's horizontal rule elements will be displayed */
body hr {
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    background-image: linear-gradient(to right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    border-width: 0;
}

/* Establishes how h1 headings will be displayed */
h1 {
    font-size: 32pt;
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Establishes how h2 headings will be displayed */
h2 {
    font-size: 24pt;
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Establishes how h3 headings will be displayed */
h3 {
    font-size: 18pt;
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Establishes how h4 headings will be displayed */
h4 {
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Establishes how h5 headings will be displayed */
h5 {
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h6 {
    font-size: 18pt;
    background:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Establishes how paragraph text will be displayed */
p {
    color: #e0e0e0;
}

/* Establishes how footer elements will be displayed */
footer {
    margin: 150px 0 50px 0;
    padding: 0 50px;
    text-align: center;
}

footer hr {
    margin-bottom: 50px;
}

/* Establishes how footer link elements will be displayed */
footer a {
    color: #4d50eb;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #4787ff;
    text-decoration: underline;
}

/* Styles inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: 6px 0 10px 0;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

marquee {
    font-size: 40px;
    color: ghostwhite;
    font-family: sans-serif;
    height: 50px;
    background: linear-gradient(to bottom right, #242424, #212121, #1f1f1f, #1c1c1c, #1a1a1a);
}


/****************************************************************************************************
* General-Use Classes (not page-specific)                                                           *
****************************************************************************************************/

/* Creates a class for indenting content by 1 tab (50px because I like that number) */
.tab {
    margin-left: 50px;
}

/* Creates a class for indenting content by 2 tabs */
.tab2 {
    margin-left: 100px;
}

/* Removes the border from rightmost menu elements */
.nav_no_border {
    border: 0;
}

/* Creates a class for general link & submit buttons */
.purple_button {
    background-image: linear-gradient(to right, #5121ff 0%, #4d50eb 35%, #3D51FF 55%, #54B5FF 100%);
    margin: 50px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14pt;
    color: #1a1a1a;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0;
    border-radius: 10px;
    display: block;
}

/* Changes the background gradient & text color of button when hovered over */
.purple_button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #c7cdd9;
}

/* Container for form contents that establishes how they are displayed */
.form_container {
    display: block;
    width: 50%;
    min-width: 250px;
    margin: 50px auto;
    color: white;
}

/* Establishes how form input & label elements are displayed */
.form_container input, label{
    display: block;
}
/* Adds spacing between form fields */
.form_container label {
    margin-top: 50px;
}

.form_container input, textarea {
    color: black;
}

.form_container li {
    margin: 0 0 15px 25px;
}

/* Adds extra padding to form hr elements */
.form_container hr {
    margin-top: 100px;
    margin-bottom: 100px;
}

/****************************************************************************************************
* Page-Specific Elements                                                                            *
****************************************************************************************************/
    /************************************************************
    * base.html Elements                                        *
    ************************************************************/

/* Establishes how the site title is styled (contains site name & logo) */
#site_title {
    color: #7f6ae6;
    margin: 25px;
    display: block;
}

/* Establishes the position of the navigation menu bar */
#nav_menu {
    width: 100%;
    top: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

#nav_menu #nav_menu_spacer {
    width: 20vw;
    height: 39px;
    background-color: #4d50eb;
}

@media only screen and (max-width:1600px) {
    #nav_menu {
      top: 300px;
    }

    #nav_menu #nav_menu_spacer {
        width: 10vw;
    }
}

#nav_menu img {
    width: 25px;
    margin-top: -2px;
}

#nav_menu .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    padding: 10px 10px;
}

#nav_menu .search:hover {
    background-color: #4d50eb;
}

#nav_menu .search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu .search input[type=search] {
    height: 25px;
    padding: 5px;
    color: #000000;
    background-color: rgba(255, 255, 255, 85%);
    border: 0.5px solid #1e1e1e;
    border-radius: 5px;
}

#nav_menu .search button {
    background-color: transparent;
    border: none;
}

#nav_menu .search button img {
    margin: 3px 0 0 10px;
}

#nav_menu .search button:hover img:last-child {
    display: block;
    margin: 0 0 0 10px;
}

#nav_menu a img:last-child, #nav_menu .search img:last-child {
    display: none;
}

#nav_menu a:hover img:last-child {
    display: block;
    margin: -2px auto 0;
}

#nav_menu a:hover img:first-child, #nav_menu .search button:hover img:first-child {
    display: none;
}

#nav_menu a {
    height: 39px;
}

            /* Level 1 of Nav Bar */
/* Establishes the nav bar's list elements are displayed */
#nav_menu ul {
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

/* Displays sub-menu of nav bar element when hovered over */
#nav_menu ul:hover {
    overflow: visible;
}

/* Establishes how the nav bar's list elements are styled */
#nav_menu li {
    position: relative;
    float: left;
    text-align: center;
    vertical-align: center;
    background-color: #4d50eb;
    border-width: 0 1px 0 0;
    border-color: rgba(0, 0, 0, 0.85);
    border-style: solid;
}

/* Changes the background color of a nav bar element when hovered over */
#nav_menu li:hover {
    background-color: #5565fa;
}

/* Establishes how the nav bar's link elements are styled */
#nav_menu a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

/* Changes the text color of nav bar links when hovered over */
#nav_menu a:hover{
    color: #c7cdd9;
}

            /* Level 2 of Nav Bar */
/* Establishes the nav bar's sub-menu list elements are displayed */
#nav_menu ul ul {
    max-height: 0;
    transition: max-height 1s;
}

/* Establishes the nav bar's sub-menu list elements are displayed when hovered over */
#nav_menu ul li:hover ul {
    max-height: 999px;
}

/* Establishes the nav bar's sub-menu list elements are styled */
#nav_menu ul ul li {
    float: none;
    background-color: #5565fa;
    border: 0;
}

/* Changes the background color of a nav bar sub-menu element when hovered over */
#nav_menu ul ul li:hover {
    background-color: #6685ff;
}

/* This container holds all of the content displayed in the body of the page
   (does not include: navigation bar, site header [logo & title])
*/
#page_content {
    margin: 125px 75px 25px 75px;
    display: block;
}



    /************************************************************
    * index.html Elements                                       *
    ************************************************************/

/* This container holds the gallery header & the gallery carousel + carousel controls */
#index_display_container {
    width: 75%;
    min-width: 500px;
    margin: 100px auto 50px auto;
    padding: 25px 35px 50px 35px;
    background-color: #111111;
}

/* Hides the option text on carousel control buttons */
.ax-hidden {
    visibility: hidden;
    position: absolute;
}

/* carousel styles */
.carousel {
    --carousel-height: 400px;
    --carousel-width: 700px;
    --carousel-item-height: 200px;
    --carousel-item-width: 200px;

    background-color: #111111;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

@media only screen and (max-width:1200px) {
    .carousel {
        --carousel-width: 500px;
        --carousel-item-height: 150px;
        --carousel-item-width: 150px;
    }
}

@media only screen and (max-width:875px) {
    .carousel {
        --carousel-width: 300px;
        --carousel-item-height: 100px;
        --carousel-item-width: 100px;
    }
}

.carousel-container {
    background-color: #111111;
    position: relative;
    display: flex;
    align-items: center;
    width: var(--carousel-width);
    min-height: var(--carousel-height);
    overflow: hidden;
    margin: auto;
}

.carousel-item {
    height: var(--carousel-item-height);
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    width: var(--carousel-item-width);
    z-index: 0;
}

.carousel-item-1,
.carousel-item-3 {
    width: calc(var(--carousel-item-width) * 0.75);
    height: calc(var(--carousel-item-height) * 0.75);
    opacity: 1;
    z-index: 1;
}

.carousel-item-1 {
    left: 0%;
    transform: perspective(200px) rotate3d(0, 1, 0, -30deg);
}

.carousel-item-2 {
    left: 50%;
    z-index: 2;
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    opacity: 1;
    box-shadow: 0 0 100px rgba(77, 80, 235, 0.7);
}

.carousel-item-3 {
    left: 77%;
    transform: perspective(200px) rotate3d(0, 1, 0, 30deg);
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* carousel button styles */
.carousel-control {
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    height: 22px;
    margin: 0 20px;
    position: relative;
    transform: scale(1.5);
    transition: transform 0.5s ease-out;
    width: 22px;
}

.carousel-control:hover {
    transform: scale(1.3);
}

/* previous button */
.carousel-control-previous::after,
.carousel-control-previous::before {
    box-sizing: border-box;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    top: 5px
}
.carousel-control-previous::before {
    background: currentColor;
    border-radius: 2px;
    right: 11px;
    width: 2px;
}
.carousel-control-previous::after {
    border-bottom: 4px solid transparent;
    border-right: 5px solid;
    border-top: 4px solid transparent;
    right: 5px;
    width: 0;
}

/* next button */
.carousel-control-next::after,
.carousel-control-next::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    top: 5px
}
.carousel-control-next::before {
    background: currentColor;
    border-radius: 2px;
    left: 11px;
    width: 2px;
}
.carousel-control-next::after {
    border-bottom: 4px solid transparent;
    border-left: 5px solid;
    border-top: 4px solid transparent;
    left: 5px;
    width: 0;
}

/* play button */
.carousel-control-play::before {
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    border-top: 5px solid transparent;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left: 7px;
    top: 4px;
    width: 0;
}

/* pause button */
.carousel-control-play.playing::before {
    border-bottom: 0;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 6px;
}


    /************************************************************
    * all_products.html & wishlist.html Elements                *
    ************************************************************/

/* Holds both the 'Categories' sidebar & the container for product cards */
#product_page_container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

/* The container that holds the 'Categories' side bar's contents */
#product_category_sidebar {
    display: inline-block;
    float: left;
    width: 200px;
    height: fit-content;
    margin: 25px 50px;
    font-family: "Roboto Light";
    color: black;
    padding: 25px;
    background-color: #4d50eb;
}
 /* Adds some space below the 'Categories' side bar title */
#product_category_sidebar h3 {
    margin-bottom: 25px;
}

/* Slightly indents the list on the 'Categories' sidebar */
#product_category_sidebar li {
    margin-left: 25px;
}

/* Container for the product cards displayed on a store page */
#product_container {
    display: inline-block;
    float: left;
    padding: 50px;
    width: 75%;
    min-width: 900px;
}

/* Adds some space below the product page's title */
#product_container h1 {
    margin-bottom: 50px;
}

/* Establishes how products are displayed on shopping pages */
.product_card {
    width: 300px;
    height: 450px;
    position: relative;
    display: inline-block;
    margin: 25px;
    background-image: linear-gradient(to bottom, #426bff 0%, #1f1f1f 5%, #141414 100%);
}

/* Removes text decoration from product card links */
.product_card a {
    text-decoration: none;
}

.product_card img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 15px auto 15px auto;
}

/* Establishes the position & style of the product information (name, price, quantity, & 'view details' button) */
.product_card .product_info {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 2em;
    margin: 10px auto;
}

.product_card .product_info button, .product_card .product_info .remove_button {
    background-image: linear-gradient(to right, #5121ff 0%, #4d50eb 35%, #3D51FF 55%, #54B5FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 25px;
    margin: 15px auto 0 auto;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    color: #000000;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0;
    border-radius: 10px;
}

.product_card .product_info button:hover, .product_card .product_info .remove_button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #c7cdd9;
}

/* Establishes the position & default style of the wishlist heart button */
.wishlist_heart {
    position: relative;
    top: 3px;
    right: -255px;
    display: block;
    font-size: 24pt;
    margin: 0;
    background-color: transparent;
    border: 0;
}

/* Changes the color of the wishlist heart button when hovered over */
.wishlist_heart:hover {
    background: linear-gradient(to bottom right, #54B5FF 0%, #3D51FF 35%, #4d50eb 55%, #5121ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#wishlist_container {
    display: inline-block;
    padding: 50px;
    width: 90%;
    min-width: 900px;
}

#wishlist_container h1 {
    margin-bottom: 50px;
}



    /************************************************************
    * product_detail.html Elements                              *
    ************************************************************/

/*  */
#prod_detail_container {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
}

#prod_detail_container .prod_info {
    width: 400px;
    display: block;
    margin: 50px auto;
    text-align: center;
}

#prod_detail_container .prod_info p {
    color: white;
    padding: 25px 0 0;
}

#prod_detail_container .prod_info label {
    color: white;
    font-weight: bold;
    padding: 75px 0 0;
}

#prod_detail_container .prod_info #id_quantity {
    width: 100px;
}



    /************************************************************
    * cart_details.html &  Elements                             *
    ************************************************************/

/* */
#cart_container {
    display: flex;
    justify-content: center;
    margin: 100px auto 50px auto;
}

.cart {
    display: block;
    background-color: rgba(235, 235, 235, 85%);
}

.cart img {
    width: 100px;
}

.cart input[type=submit] {
    background-image: linear-gradient(to right, #5121ff 0%, #4d50eb 35%, #3D51FF 55%, #54B5FF 100%);
    margin: 15px auto 0 auto;
    padding: 5px 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 10pt;
    color: #000000;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0;
    border-radius: 10px;
    display: block;
}

.cart input[type=submit]:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #c7cdd9;
}

.cart th {
    padding: 25px 50px 0;
}

.cart td {
    padding: 0 50px;
}

.cart .cart_option_button {
    text-align: center;
}

.cart hr {
    height: 1px;
    width: 100%;
    margin: 25px auto;
    background-color: #1c1c1c !important;
    color: #1c1c1c;
    border-width: 0;
}

.total td {
    padding: 0 50px 50px;
}




    /************************************************************
    * contactus.html Elements                                   *
    ************************************************************/

/* */
#info_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

/*  */
.media_icon {
    display: block;
    margin: 25px 0;
    text-decoration: none;
    color: white;
}

.media_icon_text {
    font-size: 24px;
    padding-left: 25px;
}



    /************************************************************
    * user_profile_settings.html Elements                       *
    ************************************************************/

/* Establishes the position of the navigation menu bar */
#user_settings_nav {
    width: 100%;
    display: flex;
    margin: 50px 0 100px 0;
    justify-content: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

/* Level 1 of Nav Bar */
/* Establishes the nav bar's list elements are displayed */
#user_settings_nav ul {
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

/* Displays sub-menu of nav bar element when hovered over */
#user_settings_nav ul:hover {
    overflow: visible;
}

/* Establishes how the nav bar's list elements are styled */
#user_settings_nav li {
    position: relative;
    float: left;
    text-align: center;
    background-color: #4787ff;
    border-width: 0 1px 0 0;
    border-color: rgba(0, 0, 0, 0.85);
    border-style: solid;
}

/* Changes the background color of a nav bar element when hovered over */
#user_settings_nav li:hover {
    background-color: #5c95ff;
}

/* Establishes how the nav bar's link elements are styled */
#user_settings_nav a {
    display: block;
    padding: 10px 20px;
    color: #1a1a1a;
    font-weight: bold;
    text-decoration: none;
}

/* Changes the text color of nav bar links when hovered over */
#user_settings_nav a:hover{
    color: #c7cdd9;
}

.settings_table_container {
    display: flex;
    justify-content: center;
}

/* Formatting for Payment Information Table */
.settings_table {
    display: inline-block;
    margin: 50px auto;
    alignment: center;
    border-collapse: collapse;
    border: 4px #4d50eb;
    background-color: rgba(235, 235, 235, 85%);
}

.settings_table th {
    padding: 25px 50px 10px 50px;
    color: black;
}

.settings_table td {
    padding: 15px 50px;
    color: black;
}

.settings_table hr {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: #1c1c1c !important;
    color: #1c1c1c;
    border-width: 0;
}

/* Formatting for the text box in Contact Us */
.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}



    /************************************************************
    * User Registration / Password Reset Elements               *
    ************************************************************/

/* */
.pass_reset_link {
    display: block;
    margin: 100px auto;
    text-align: center;
}

.pass_reset_link a {
    color: #4d50eb;
    font-weight: bold;
}

.pass_reset_link a:hover {
    color: #4787ff;
}

/* Container for form contents that establishes how they are displayed */
.pass_reset_form_container {
    display: block;
    width: 50%;
    min-width: 250px;
    margin: -100px auto 150px auto;
    color: white;
}

/* Adds extra padding to form hr elements */
.pass_reset_form_container hr {
    margin-top: 50px;
    margin-bottom: 100px;
}

.form_contents {
    width: 50%;
    display: block;
    margin: 50px auto;
}

/* Establishes how form input & label elements are displayed */
.form_contents input, label{
    display: block;
}
/* Adds spacing between form fields */
.form_contents label {
    margin-top: 50px;
}

.form_contents input, textarea {
    color: black;
}

.form_contents li {
    margin: 0 0 15px 25px;
}
