{% load crispy_forms_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}<title>Music Memoir</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div id="site_title">
            <a href="{% url 'store:index'  %}">
                <img src="{% static 'images/MM Logo White.png' %}" alt="Music Memoir Logo" style="width:250px; height:250px;">
            </a>
        </div>



        <div id="page_content">

            <!--Password Reset Complete-->

            <div class="pass_reset_form_container">
                <h2>Password Reset Complete</h2>

                <hr>

                <p>Your password has been set. You may go ahead and log in now.</p>

                <button class="purple_button" onclick="location.href='{% url 'login' %}'" style="margin-top: 150px">
                    Log In
                </button>
            </div>

        </div>

    </body>

</html>
