{% load crispy_forms_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}<title>Music Memoir</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div id="site_title">
            <a href="{% url 'store:index'  %}">
                <img src="{% static 'images/MM Logo White.png' %}" alt="Music Memoir Logo" style="width:250px; height:250px;">
            </a>
        </div>



        <div id="page_content">

            <!--Password reset sent-->

            <div class="pass_reset_form_container">
                <h2>Password Reset Sent</h2>

                <hr>

                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.

                    <br><br>

                    If you don't receive an email, please make sure you've entered the
                    address you registered with, and check your spam folder.
                </p>
            </div>

        </div>

    </body>

</html>
