{% load crispy_forms_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}<title>Music Memoir</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div id="site_title">
            <a href="{% url 'store:index'  %}">
                <img src="{% static 'images/MM Logo White.png' %}" alt="Music Memoir Logo" style="width:250px; height:250px;">
            </a>
        </div>



        <div id="page_content">

            <!--Reset Password-->

            <div class="pass_reset_form_container">
                <h2>Reset Password</h2>

                <hr>

                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new
                    one.</p>

                <form method="POST" class="form_contents">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}

                    <button class="purple_button" type="submit">Send email</button>
                </form>
            </div>

        </div>

    </body>

</html>
