<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}<title>Music Memoir</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="https://kit.fontawesome.com/36a996c11f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="siteTitle">
            <a href="{% url 'store:index'  %}">
                <img src="{% static 'images/MM Logo White.png' %}" alt="Music Memoir Logo" style="width:250px; height:250px;">
            </a>
        </div>

        <div id="navMenu">
            {% block menu %}
                <ul>
                    <li><a href="{% url 'store:index' %}">Home</a></li>
                    <li>
                        <a href="{% url 'store:all-products' %}">Shop</a>
                        <ul>
                            <li><a href="{% url 'store:all-music' %}">All Music</a></li>
                            <li><a href="{% url 'store:all-merch' %}">All Merch</a></li>
                            <li><a href="{% url 'store:sales-items' %}">Sale Items</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'cart:cart_detail' %}">Shopping Cart</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'store:wish-list' %}">Wish List</a></li>
                        <!--shopping cart button removed because it is causing issues atm-->
                        <li><a href="{% url 'store:user-profile-settings' %}">Profile Settings</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Create Account</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>

        <div id="pageContent">
            {% block content %}{% endblock %}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}

                        </span>

                    </div>

                {% endif %}

            {% endblock %}

        </div>

    </body>

    <footer>
        <hr>
        <a href="{% url 'store:contact-us' %}">Contact Us</a>
    </footer>

</html>