<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}<title>Music Memoir</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <marquee direction="left" scrollamount="20">This scrolling marquee can show the latest announcements</marquee>

        <div id="site_title">
            <a href="{% url 'store:index'  %}">
                <img src="{% static 'images/MM Logo White.png' %}" alt="Music Memoir Logo" style="width:250px; height:250px;">
            </a>
        </div>

        <div id="nav_menu">
            {% block menu %}
                <ul>
                    <li><a href="{% url 'store:index' %}" title="Shop Homepage">Home</a></li>
                    <li>
                        <a href="{% url 'store:prod_list' %}" title="Shop All Products">Shop</a>
                    </li>
                    <li class="search">
                        <form method="post" action="{% url 'store:search-products' %}">
                            {% csrf_token %}

                            <input type="search" placeholder="Search Products" name="searched">
                            <button type="submit" class="search_button">
                                <img src="{% static 'images/search_icon.png' %}" alt="">
                                <img src="{% static 'images/search_icon_white.png' %}" alt="">
                            </button>
                        </form>
                    </li>

                    <li><div id="nav_menu_spacer"></div></li>

                    <li><a href="{% url 'cart:cart_detail' %}" title="Your Shopping Cart">
                        <img src="{% static 'images/shopping_cart_icon.png' %}" alt="">
                        <img src="{% static 'images/shopping_cart_icon_white.png' %}" alt="">
                    </a></li>

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'wish:wish_detail' %}" title="Your Wish List" style="font-size: 20px">
                            <img src="{% static 'images/wishlist_icon.png' %}" alt="">
                            <img src="{% static 'images/wishlist_icon_white.png' %}" alt="">
                        </a></li>

                        <li class="nav_no_border">
                            <a href="{% url 'store:user-profile-settings' %}" title="Your Profile">
                                <img src="{% static 'images/user_profile_icon.png' %}" alt="">
                                <img src="{% static 'images/user_profile_icon_white.png' %}" alt="">
                            </a>
                            <ul>
                                <li><a href="{% url 'store:user-profile-settings' %}" title="User Settings">Settings</a></li>
                                <li><a href="{% url 'logout' %}" title="Logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav_no_border">
                            <a href="{% url 'login' %}" title="Your Profile">
                                <img src="{% static 'images/user_profile_icon.png' %}" alt="">
                                <img src="{% static 'images/user_profile_icon_white.png' %}" alt="">
                            </a>
                            <ul>
                                <li><a href="{% url 'register' %}" title="Create an Account">Sign Up</a></li>
                                <li><a href="{% url 'login' %}" title="Login to Your Account">Login</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>

        <div id="page_content">
            {% block content %}{% endblock %}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}

                        </span>

                    </div>

                {% endif %}

            {% endblock %}

        </div>

    </body>

    <footer>
        <hr>
        <a href="{% url 'store:contact-us' %}">Contact Us</a>
    </footer>

</html>